<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>D-Code Student Gallery</h1>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Alia Cummings</h3>
    </div>
    <div class="panel-body">
      <a href="Student_Presentations/Alia/aliaCummingsJavascript.html">Switching Images onClick</a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Christian and Jaylen</h3>
    </div>
    <div class="panel-body">
      <a href="Student_Presentations/Christian_Jaylen/javascriptpopuptutorial.html">Popup Tutorial</a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Hijiri</h3>
    </div>
    <div class="panel-body">
      <a href="Student_Presentations/Hijiri/coding/Collapsing.html">How to Create a Collapsing Header</a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Micah and Jakobi</h3>
    </div>
    <div class="panel-body">
      <a href="Student_Presentations/Micah_Jakobi/Probject.html">Booleans</a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Ricardo</h3>
    </div>
    <div class="panel-body">
      <a href="Student_Presentations/Richardo/changingImage.html">Changing Image</a>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tanai and Omari</h3>
      </div>
      <div class="panel-body">
        <a href="Student_Presentations/Tanai_Omari/Arrays/Project.html">Arrays</a>
      </div>
    </div>
  </div>
</body>
</html>
